<div class="chat-container">
  <div class="professor-container">
    <div class="professor-info">
      <img [src]="currentProfessor.photoUrl" alt="{{ currentProfessor.name }}" class="professor-image">
      <div class="professor-text">{{ currentProfessor.name }}</div>
    </div>
  </div>

  <div class="vertical-line"></div>

  <div class="chat-content">
    <div class="chat-history">
      <div *ngFor="let message of chatHistory" class="message">
        <div class="message-container">
          <div class="message-sender">
            <img [src]="message.sender === 'Esteban Soler' ? alumno.photoUrl : estudiante.photoUrl" alt="{{ message.sender }}">
            <div class="name">{{ message.sender }}</div>
          </div>
          <div class="message-content">
            <div>{{ message.text }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="message-input">
      <textarea #messageInput placeholder="Message...."></textarea>
      <button (click)="sendMessage(messageInput.value)">Send</button>
    </div>
  </div>
</div>
