<div class="profile-container">
  <div class="profile-info">
    <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1235438820950806538/0c7c46cf8ce0506b6c50c540136fa5fe.png?ex=66345f90&is=66330e10&hm=fc97cafc32e6b94408fd8e3fa1e1bdbf6cc0d4ec66f9352869a3ad35ffb5efb2&" alt="Foto de Esteban Soler" class="profile-image">
    <div class="details">
      <h2 class="profile-name">Esteban Soler</h2>
      <p class="profile-Area">Programming</p>
      <p class="profile-phone">984623591</p>
      <p class="profile-email">soler&#64;gmail.com</p>
    </div>
  </div>
  <div class="buttons">
    <button>
      <div class="button-content">
        <mat-icon class="icon">chat</mat-icon>
        <div class="text">
          <div class="title">Chat</div>
          <div class="subtitle">Communicate with your students</div>
        </div>
      </div>
    </button>
    <button>
      <div class="button-content">
        <mat-icon class="icon">reviews</mat-icon>
        <div class="text">
          <div class="title">Reviews</div>
          <div class="subtitle">See your reviews of all students</div>
        </div>
      </div>
    </button>
    <button>
      <div class="button-content">
        <mat-icon class="icon">edit</mat-icon>
        <div class="text">
          <div class="title">Edit</div>
          <div class="subtitle">Check or edit your personal information</div>
        </div>
      </div>
    </button>
  </div>
</div>
