<header class="app-header">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title" routerLink="/home">TutorGo</span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">Cerrar sesión</button>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="navigateHome()" class="link">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item  (click)="navigateMentorProfile()" class="link">
        <mat-icon>people</mat-icon>
        Tutors
      </a>
      <a mat-list-item (click)="navigateStudentProfile()" class="link">
        <mat-icon>account_circle</mat-icon>
      Profile
      </a>
      <a mat-list-item (click)="navigateEditStudent()" class="link">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
