<mat-sidenav-container style="height: calc(100vh);">
  <mat-sidenav-content style="background-color: #F5F5F5; display: flex; align-items: center; justify-content: center;">
    <div style="max-width: 800px; padding: 0 20px; display: flex; align-items: center;">
      <div style="margin-right: 20px;">
        <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1235438820950806538/0c7c46cf8ce0506b6c50c540136fa5fe.png?ex=66345f90&is=66330e10&hm=fc97cafc32e6b94408fd8e3fa1e1bdbf6cc0d4ec66f9352869a3ad35ffb5efb2&" alt="Profile picture" style="width: 500px; height: auto; border-radius: 50px;">
      </div>
      <div>
        <form>
          <div style="margin-bottom: 20px;">
            <label for="name" style="font-size: 28px; margin-bottom: 10px;">Name</label>
            <input id="name" matInput placeholder="Enter your name" style="font-size: 24px; background-color: #D9D9D9; border: 1px solid #CCCCCC; border-radius: 10px; padding: 10px 20px; width: 300px;">
          </div>
          <div style="margin-bottom: 20px;">
            <label for="lastName" style="font-size: 28px; margin-bottom: 10px;">Last Name</label>
            <input id="lastName" matInput placeholder="Enter your last name" style="font-size: 24px; background-color: #D9D9D9; border: 1px solid #CCCCCC; border-radius: 10px; padding: 10px 20px; width: 300px;">
          </div>
          <div style="margin-bottom: 20px;">
            <label for="email" style="font-size: 28px; margin-bottom: 10px;">Email</label>
            <input id="email" matInput placeholder="Enter your email" style="font-size: 24px; background-color: #D9D9D9; border: 1px solid #CCCCCC; border-radius: 10px; padding: 10px 20px; width: 300px;">
          </div>
          <div style="margin-bottom: 20px;">
            <label for="cellphone" style="font-size: 28px; margin-bottom: 10px;">Cellphone</label>
            <input id="cellphone" matInput placeholder="Enter your phone number" style="font-size: 24px; background-color: #D9D9D9; border: 1px solid #CCCCCC; border-radius: 10px; padding: 10px 20px; width: 300px;">
          </div>
          <div style="display: flex; justify-content: center;">
            <button mat-button color="primary" style="font-size: 30px; width: 200px; border-radius: 10px; padding: 15px 30px; background-color: #28859A; color: #FFFFFF;">Save</button>
          </div>
        </form>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
