
<div class="example-container" *ngIf="shouldRun">
  <div class="header">
    <div class="logo">
      <button (click)="snav.toggle()" class="menu"><mat-icon>menu</mat-icon></button>
      <img  src='https://cdn.discordapp.com/attachments/984514017949274132/1243711968070598748/image.png?ex=667ca888&is=667b5708&hm=6315567f44ee0b7cebc9a75caee95f05acd891c1401ddbb39acc0460634b7f51&'>
    </div>
    <div class="buttons">
        <mat-icon class="notifications" (click)="navigateNotification()">notifications</mat-icon>
      <div class="profile-avatar">
        <img [src]="studentProfile?.userProfilePhoto||'https://cdn.discordapp.com/attachments/1223417411307573354/1234204181619802212/bb5fd923a82bde325000206adf4629fb.png?ex=667c58b7&is=667b0737&hm=1b15be257f00bdc3d1dbf65282937ce0b4c0b74942e9faace7bec8945a9b8f10&'" alt="Profile Image">
      </div>
    </div>

  </div>

  <mat-sidenav-container class="content">
    <mat-sidenav #snav [mode]="'side'">
      <mat-nav-list>
        <a (click)="navigateHome()" class="link"><mat-icon>home</mat-icon> Home</a>
        <a (click)="navigateStudentProfile()" class="link"><mat-icon>account_circle</mat-icon> My profile</a>
        <a (click)="navigateMentorProfile()" class="link"><mat-icon>people</mat-icon> Mentors</a>

        <a (click)="navigateSubscription()" class="link"><mat-icon>grade</mat-icon> Subscription</a>
        <a (click)="navigateSetting()" class="link"><mat-icon>settings</mat-icon> Settings</a>
        <a (click)="navigateLogin()" class="link" id="back"><mat-icon>meeting_room</mat-icon> Back </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!--aqui van los link-->
      <p><router-outlet></router-outlet></p>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
