<div class="overlay" (click)="closeWindow()">
  <div class="window">
    <span class="close-button" (click)="closeWindow()"><mat-icon>close</mat-icon></span>
    <div class="info_title">
      <div class="img_info">
        <h2>Information</h2>
        <p>Process carried out successfully</p>
        <img src="https://cdn.discordapp.com/attachments/1149549726748921942/1175472871359909999/process-accept_icon-icons.png?ex=656b5b6b&is=6558e66b&hm=72ab0451eeb05c87d91760a3ddaeabb0744eba64bfe5f3b5c4313cec77fe4086&">
      </div>

      <img src="https://media.discordapp.net/attachments/1149549726748921942/1149581967562641489/387fa9d53d55476ab4f2bbe3bc4af6b3_4.png?ex=656973a3&is=6556fea3&hm=b7be4d043109fdd7967683e89ee5dae9edb6f35dc764454b629c4ace50088af8&=&width=250&height=250">
    </div>
    <div class="text_info">
      <p>{{ message }}</p>
    </div>
  </div>
</div>

