<div class="subscription-section">
  <h1 class="title">Subscribe Now</h1>
  <h5 class="subtitle">Get the following benefits...</h5>
  <div class="benefits">
    <div class="benefit">
      <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1234228872304660490/cf8768cfdb97b14595e1d3feb41e849d.png?ex=667c6fb6&is=667b1e36&hm=22d53d91073a9783af977c5bb3cfd72e3ae2c59ef18a49923b90366126420ea0&" alt="Benefit 1">
      <p class="benefit-text">Post creator for your services</p>
    </div>
    <div class="benefit">
      <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1255462076978036776/jCpx6dtdxdAAAAAElFTkSuQmCC.png?ex=667d37ac&is=667be62c&hm=3a9ca6f3f8ea4052889ed004f3cc7467267c4a2e680eba5ce6f4ce532c8e6bae&" alt="Benefit 2">
      <p class="benefit-text">Blocking annoying ads</p>
    </div>
    <div class="benefit">
      <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1255462242103722035/cinta-premio_24908-54794.png?ex=667d37d3&is=667be653&hm=7d3979de1fc168fcf33900f7f2edcace105904a850623b9048aaecbb7d8dbba2&" alt="Benefit 3">
      <p class="benefit-text">Show your certificates to everyone</p>
    </div>
  </div>
  <h6 class="subtitle">Choose your plan...</h6>

  <div class="card-container">
    <div *ngFor="let subscription of subscriptions" class="card">
      <mat-card>
        <img [src]="subscription.image" alt="{{ subscription.name }} Image" style="max-width: 100%; ">
        <mat-card-header>
          <mat-card-title class="card-title">{{ subscription.name }}</mat-card-title>
          <mat-card-subtitle class="subscription-price">Price: S/.{{ subscription.price }}/month</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content">
          {{ subscription.description }}
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-button class="y-button" *ngIf="subscription.hasButtons" (click)="selectPlan(subscription.numberPlan )" >Subscribe</button>
<!--
          <button mat-button class="ye-button" *ngIf="subscription.hasButtons">Unsubscribe</button>
-->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
