<div class="settings-container">
  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Configuración</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="option-container">
        <h4>Notificaciones</h4>
        <div class="checkbox-container">
          <mat-checkbox class="notification-checkbox">Quieres que Arquimentor te mande notificaciones</mat-checkbox>
        </div>
      </div>
      <div class="option-container">
        <h4>Estilo</h4>
        <mat-radio-group>
          <mat-radio-button value="light">Claro</mat-radio-button>
          <mat-radio-button value="dark">Oscuro</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="option-container">
        <h4>Idioma</h4>
        <mat-select>
          <mat-option value="es">Español</mat-option>
          <mat-option value="en">Inglés</mat-option>
        </mat-select>
      </div>
    </mat-card-content>
  </mat-card>
</div>
