<body>
<mat-card class="container">
  <mat-card-content class="content">
    <mat-card class="custom-card">
      <mat-card-content class="card-content">
        <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1234218330559086652/0904946b8b55f3947f14556e4bd8119c.png?ex=662feee4&is=662e9d64&hm=c99c3c37b2a2647e08711a9e690e54df179a8f770571691c803affdff467d702&" alt="University Image">
        <div class="text-container">
          <h2>Top 5 de las mejores universidades peruanas según la SUNEDU</h2>
          <p>La Superintendencia Nacional de Educación Superior Universitaria (SUNEDU) dio a conocer en el informe bienal sobre la realidad universitaria en el Perú sobre las 10 mejores universidades del Perú. En la lista se encuentra la Universidad Nacional Mayor de San Marcos (UNMSM) y la Universidad Nacional de Ingeniería (UNI), pero quien está en el primer lugar es una universidad privada.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <div class="icon-container">
    <div class="icons">
      <button class="icon-item">
        <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1234218387870322698/934b10d923ce4357fa0e7c9558e40d77.png?ex=662feef2&is=662e9d72&hm=7354d257c08673d9862fa01bcef20d45b9e5d40999e62cc6b6b0861d8ef13c3a&" alt="Chat Icon">
        <span>Chat</span>
      </button>
      <button class="icon-item">
        <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1234218445822758952/dd1e4a9527e41b6ca4f44e81b88369dc.png?ex=662fef00&is=662e9d80&hm=0fe896314c155a3365465dcc3bd0fef9c015936cc76bcccd98c15ff096b3ee81&" alt="Schedule Icon">
        <span>Schedule</span>
      </button>
      <button class="icon-item">
        <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1234218529977274498/15e1593430c32a3252fdc65f7fa37e87.png?ex=662fef14&is=662e9d94&hm=6ea07bfc9ed1f77a537c3cfb311673bb2679759712ecde0df9d35086cd5610bb&" alt="Califications Icon">
        <span>Calificaciones</span>
      </button>
    </div>
  </div>

</mat-card>
</body>
