<div class="container">
  <section>
    <h3>CREATE ACCOUNT</h3>
    <p>Already have an account? <span><a routerLink="/login">Log in</a></span></p>

    <form [formGroup]="miFormulario" class="create account" (ngSubmit)="registerAccount()">
      <div class="input-box">
        <label class="mat-label">Username</label>
        <div class="mat-form-field">
          <input matInput type="text" placeholder="Username" formControlName="userName" required>
        </div>
      </div>

      <div class="input-box">
        <label class="mat-label">Password</label>
        <div class="mat-form-field">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </div>
      </div>

      <div class="input-box">
        <label class="mat-label">Role</label>
        <div class="mat-form-field">
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="miFormulario.get('role')?.setValue('ROLE_USER')">Student</button>
            <button mat-menu-item (click)="miFormulario.get('role')?.setValue('ROLE_MENTOR')">Mentor</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
            Select Role
          </button>
        </div>
      </div>

      <div class="column">
        <p>By registering you are accepting our <span><a routerLink="/terms">Terms of Use</a> </span> and <span><a routerLink="/privacy">Privacy Policy</a></span></p>
      </div>

      <div class="content-button">
        <button type="submit" mat-button>Create Account</button>
      </div>
    </form>
  </section>
</div>
