<div class="max-w-lg mx-auto p-6 bg-white shadow-md">
  <h2 class="text-2xl font-bold mb-4">Make your schedule</h2>
  <p class="text-lg mb-6">These are all available for this tutor</p>

  <div class="space-y-4">
    <div *ngFor="let schedule of schedules" class="flex items-center p-4 border rounded-lg">
      <div>
        <p class="font-semibold">{{ schedule.days }}</p>
        <p>{{ schedule.time }}</p>
      </div>
      <div class="ml-4">
        <p>{{ schedule.TutorName }}</p>
        <p>S/ {{ schedule.price }}</p>
      </div>
      <button mat-raised-button color="primary" class="ml-auto">Go to payment</button>
    </div>
   </div>
</div>
