<app-header></app-header>
<div class="container mx-auto flex items-center justify-center min-h-screen bg-gray-100">
  <div class="login-container">
    <h3 class="login-title">Log In</h3>
    <form [formGroup]="miFormulario" (ngSubmit)="singInAccount()" class="space-y-6">
      <!-- Username field -->
      <div class="input-box">
        <label for="username" class="mat-label">Username</label>
        <div class="mat-form-field">
          <input id="username" matInput type="text" placeholder="Username" [(ngModel)]="singIn.username" formControlName="userName" required>
        </div>
      </div>
      <!-- Password field -->
      <div class="input-box">
        <label for="password" class="mat-label">Password</label>
        <div class="mat-form-field">
          <input id="password" matInput type="password" placeholder="Password" [(ngModel)]="singIn.password" formControlName="password" required>
        </div>
      </div>
      <!-- Submit button -->
      <div class="content-button">
        <button type="submit" mat-button>Log in</button>
      </div>
    </form>
  </div>
</div>
