<div class="profile-container">
  <div class="profile-info">
    <img src="https://cdn.discordapp.com/attachments/1223417411307573354/1234204181619802212/bb5fd923a82bde325000206adf4629fb.png?ex=6633d637&is=663284b7&hm=2bb0a42943451e9f0a0bdd390ccc379f558a585cc39e04dba8fd62f4e3a24a9f&" alt="Foto de Juan Perez" class="profile-image">
    <div class="details">
      <h2 class="profile-name">Juan Perez</h2>
      <p class="profile-birthdate">10/05/2006</p>
      <p class="profile-phone">932419705</p>
      <p class="profile-email">juan&#64;juan.com</p>
    </div>
  </div>
  <div class="buttons">
    <button>
      <div class="button-content">
        <mat-icon class="icon">chat</mat-icon>
        <div class="text">
          <div class="title">Chat</div>
          <div class="subtitle">Communicate with tutor</div>
        </div>
      </div>
    </button>
    <button>
      <div class="button-content">
        <mat-icon class="icon">assignment</mat-icon>
        <div class="text">
          <div class="title">Califications</div>
          <div class="subtitle">See your progress in your course</div>
        </div>
      </div>
    </button>
    <button>
      <div class="button-content">
        <mat-icon class="icon">edit</mat-icon>
        <div class="text">
          <div class="title">Edit</div>
          <div class="subtitle">Check or edit your personal information</div>
        </div>
      </div>
    </button>
  </div>
</div>
