<div class="title">
  <h1>Choose your role</h1>
</div>
<div class="image-container">
  <div class="image-wrapper">
    <div class="image">
      <img src="https://media.discordapp.net/attachments/957560427049525259/1235450475772510229/image.png?ex=66346a6a&is=663318ea&hm=9f5f034394f96bec5b6da9e2b15cd74e0c61305f02a9492d5647e93c806bb9fe&=&format=webp&quality=lossless&width=512&height=676" alt="Imagen 1">
    </div>
    <div class="image-text">
      <p class="text-below">Student</p>
    </div>
  </div>
  <div class="image-wrapper">
    <div class="image">
      <img src="https://media.discordapp.net/attachments/957560427049525259/1235450508475633766/image.png?ex=66346a72&is=663318f2&hm=7fb27cc033096cda59cbd5f06240d29171cf8626ca233b587beda7b13776505d&=&format=webp&quality=lossless&width=512&height=676" alt="Imagen 2">
    </div>
    <div class="image-text">
      <p class="text-below">Tutor</p>
    </div>
  </div>
</div>
