.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar {
  width: 272px;
  height: 273px;
}

.info {
  margin-left: 20px; /* Ajusta el espacio entre la imagen y la información */
}

.star-rating {
  color: gold;
  font-size: 20px;
}

.price {
  margin-left: auto;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
}

.hire-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #006064; /* Cian oscuro */
  color: white;
}

.review-button {
  margin-top: 20px; /* Espacio entre el contenido y el botón */
  background-color: #006064; /* Cian oscuro */
  color: white;
}

.download-list {
  list-style-type: none;
  padding: 0;
}

.university-name {
  color: #37474F;
  font-size: 14px;
}

.download-button {
  background-color: #2196F3;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}

.download-button:hover {
  background-color: #0D47A1;
}
