<div class="center">
  <mat-card class="card">
    <mat-card-actions>
      <button mat-raised-button color="primary" class="hire-button">Hire tutor</button>
    </mat-card-actions>
    <mat-card-content class="flex">
      <img mat-card-image class="avatar" routerLink="/student-valoraciones" src="https://cdn.discordapp.com/attachments/1223417411307573354/1235232902715932765/a102f63e7cef263278dc4876be35b040.png?ex=66339fc9&is=66324e49&hm=6b7760d074239a1465e543da624590d13073a647d2c85d2fcb7e153a63061979&" alt="Esteban Soler">
      <div class="info" routerLink="/schedule/1">
        <table>
          <tr>
            <td><b>Esteban Soler</b></td>
            <td>55 años</td>
          </tr>
          <tr>
            <td>Programming</td>
            <td>35 Students</td>
          </tr>
          <tr>
            <td>S/15.00</td>
            <td class="star-rating">
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star</span>
              <span class="material-icons">star_half</span>
            </td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="additional-box" style="margin-top: -200px;">
  <div class="university-info" style="display: flex; align-items: center; justify-content: center;">
    <h2 style="margin-right: 10px;">Universidad del Pacífico</h2>
    <button mat-raised-button color="primary" class="download-button">Download</button>
  </div>
  <div class="university-info" style="display: flex; align-items: center; justify-content: center;">
    <h2 style="margin-right: 10px;">Universidad de los Andes</h2>
    <button mat-raised-button color="primary" class="download-button">Download</button>
  </div>
</div>
