.container {
  text-align: center;
  margin-top: 50px;
}

.tutor-box {
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.tutor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-tutor img {
  max-width: 50%;
  height: auto;
}

.nombre-tutor {
  font-size: 25px;
  margin-bottom: 20px;
}

.info {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detalle {
  margin-left: 1px;
}

.precio,
.estrellas,
.curso {
  margin: 5;
}

.star {
  margin-left: 5px;
}

.see-more {
  background-color: #4A90E2;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
}
