<div class="container">
  <h1>List of tutors</h1>
  <div *ngFor="let tutor of tutores" class="tutor-box">
    <div class="tutor">
      <div class="nombre-tutor">{{ tutor.nombre }}</div>
      <div class="info">
        <div class="imagen-tutor">
          <img [src]="tutor.imagenUrl" alt="{{ tutor.nombre }}">
        </div>
        <div class="detalle">
          <p class="precio"> S/{{ tutor.precio }}</p>
          <p class="estrellas">{{ tutor.estrellas }} <span class="star">&#9733;</span></p>
          <p class="curso"> {{ tutor.curso }}</p>
          <div class="see-more">See more</div>
        </div>
      </div>
    </div>
  </div>
</div>
