<div class="card-container">
  <mat-card class="max-width-lg">
    <mat-card-header>
      <mat-card-title>Esteban Soler</mat-card-title>
      <mat-card-subtitle>Rating: 4.0/5</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2 class="title">Reviews</h2>
      <div class="review-container">
        <div class="review">
          <div class="avatar" style="background-image: url('https://cdn.discordapp.com/attachments/1223417411307573354/1234204181619802212/bb5fd923a82bde325000206adf4629fb.png?ex=662fe1b7&is=662e9037&hm=2195fc9f706c34e1b32380176a15c29d9701faefbac1db1b2dcea2e8a440f7fb&');"></div>
          <div class="content">
            <h3 class="name">Juan Perez</h3>
            <mat-card-subtitle>Enseña bien, explica cada código que realiza y deja tareas muy entretenidas</mat-card-subtitle>
          </div>
          <div class="flex-grow"></div>
          <div class="rating">
            <mat-icon class="star">star</mat-icon>
            <span class="value">4.0/5</span>
          </div>
        </div>
        <div class="review">
          <div class="avatar" style="background-image: url('https://cdn.discordapp.com/attachments/1223417411307573354/1234228872304660490/cf8768cfdb97b14595e1d3feb41e849d.png?ex=662ff8b6&is=662ea736&hm=7d2af9ddbc2528a04891c4555f99be89b82922c175bf7302f31324c2203c7ea8&');"></div>
          <div class="content">
            <h3 class="name">Sergio Costa</h3>
            <mat-card-subtitle>Un profesor muy amable, si no entiendes a la primera, te vuelve a explicar las veces que sean necesarias</mat-card-subtitle>
          </div>
          <div class="flex-grow"></div>
          <div class="rating">
            <mat-icon class="star">star</mat-icon>
            <span class="value">4.0/5</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-center">
      <button mat-raised-button color="primary">Publish Review</button>
    </mat-card-actions>
  </mat-card>
</div>
